<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="ctrl.advancedCategoryForm" ng-submit="ctrl.applyFilters()" novalidate kb-error-feedback>
        <input type="hidden" ng-model="ctrl.category.id">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Filter {{ctrl.category}} category</h4>
        </div>
        <div class="modal-body clearfix">
          <p>Check off questions you would like, or use the buttons below.</p>
          <div>
            <button type="button" class="btn btn-default" ng-click="ctrl.selectRange()">Select range</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.selectRandomization()">Randomize</button>
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>

          <div style="margin-top: 15px">
            <div ng-repeat="question in ctrl.questions">
              <input type="checkbox" ng-model="question.show"> #{{$index+1}}
            </div>
          </div>

          <!--<div style="margin-top: 15px;"><button type="button" class="btn btn-default" ng-click="ctrl.addRangeSlider()">Add question range</button></div>-->

        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
              <button type="submit" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div>
</div>
