<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="ctrl.questionForm" ng-submit="ctrl.save($event)" novalidate kb-error-feedback>
        <input type="hidden" ng-model="ctrl.question.id">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ ctrl.question.id ? 'Edit' : 'Add' }} Question</h4>
        </div>
        <div class="modal-body clearfix">
          <div class="form-group col-xs-12">
            <label for="question">Question</label>
            <textarea class="form-control" type="text" ng-model="ctrl.question.question" id="question" name="question" required></textarea>
            <div ng-messages="ctrl.questionForm.question.$error" ng-show="ctrl.questionForm.$submitted">
              <div ng-message="required">Required</div>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label for="answer">Answer</label>
            <textarea class="form-control" type="text" ng-model="ctrl.question.answer" id="answer" name="answer" required></textarea>
            <div ng-messages="ctrl.questionForm.answer.$error">
              <div ng-message="required">Required</div>
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="answer">Point Value</label>
            <input class="form-control" type="number" ng-model="ctrl.question.point_value" id="point_value" name="point_value" required>
            <div ng-messages="ctrl.questionForm.point_value.$error">
              <div ng-message="required">Required</div>
              <div ng-message="number">Please enter a valid number.</div>
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="category">Category</label>
            <select class="form-control" name="category" id="category" ng-options="category.id as category.category for category in ctrl.categories" ng-model="ctrl.question.category_id" required>
              <option value="">Select a category</option>
            </select>
            <div ng-messages="ctrl.questionForm.category.$error">
              <div ng-message="required">Required.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default" ng-click="ctrl.close()">Close</button>
              <button type="button" class="btn btn-danger" ng-click="ctrl.deleteQuestion()" ng-disabled="ctrl.saving">Delete Question</button>
              <button type="submit" class="btn btn-primary" ng-disabled="ctrl.saving">Save changes</button>
            </div>
          </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div>
</div>
