<form name="ctrl.forgotPasswordForm" novalidate ng-submit="ctrl.submit()">

  <div class="row" ng-show="!ctrl.submitSuccess && !ctrl.submitFailed">
    <div class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
      <label for="username">Please enter your email</label>
      <input type="email" name="username" id="username" class="form-control" ng-model="ctrl.username" required>
      <div ng-messages="ctrl.forgotPasswordForm.username.$error">
        <div ng-message="required">Required.</div>
        <div ng-message="email">Invalid email.</div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-primary col-xs-12 col-sm-offset-5 col-sm-2">
        Submit
      </button>
    </div>
  </div>

  <div class="row" ng-show="!ctrl.submitSuccess && !ctrl.submitFailed">
    <div class="col-xs-12 text-center">
      <a href="/forgot-email" style="font-size: 1.25em">Forget your email?</a>
    </div>
  </div>

  <div class="row" ng-show="ctrl.submitSuccess">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
      <h3>An email has been sent to your address with instructions on how to reset your password</h3>
    </div>
  </div>

  <div class="row" ng-show="ctrl.submitFailed">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
      <h3>An error occurred while attempting to send your email. Please try again.</h3>
    </div>
  </div>

</form>
