<form name="ctrl.resetPasswordForm" novalidate ng-submit="ctrl.submit()">

  <div class="row" ng-show="!ctrl.submitSuccess && !ctrl.submitFailed && !ctrl.authorizeError">
    <div class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
      <label for="password">Enter your new password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="ctrl.password" equal-to="ctrl.confirmPassword" required>
      <div ng-messages="ctrl.resetPasswordForm.password.$error">
        <div ng-message="required">Required</div>
        <div ng-message="value_compare">Password and Confirm password do not match</div>
      </div>
    </div>

    <div class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
      <label for="confirmPassword">Confirm your new password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="ctrl.confirmPassword" equal-to="ctrl.password" required>
      <div ng-messages="ctrl.resetPasswordForm.confirmPassword.$error">
        <div ng-message="required">Required</div>
        <div ng-message="value_compare">Password and Confirm password do not match</div>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-primary col-xs-12 col-sm-offset-5 col-sm-2">
        Submit
      </button>
    </div>
  </div>

  <div class="row" ng-show="ctrl.submitSuccess">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
      <h3>Your password as been successfully reset! <a href="/login">Login now</a></h3>
    </div>
  </div>

  <div class="row" ng-show="ctrl.authorizeError">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
      <h3>Invalid password token. Please try a different password reset link.</h3>
    </div>
  </div>

  <div class="row" ng-show="ctrl.submitFailed">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
      <h3>An error occurred while resetting your password. Please try again.</h3>
    </div>
  </div>

</form>
